@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lato');

/* font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif; */

body{
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

#header{
  height: 2em;
  background: white;
  padding: 0.5em 1em;
  width: 100%;
  line-height: 2em;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  display: none;
}

.pageWrap{
  margin: 3em auto 0 auto;
  width: 80vw;
	white-space: nowrap;
	overflow-x: hidden;
}

.innerLiner{
  margin: 0;
  padding: 0;
}

.box{
  display: inline-block;
  white-space: normal;
  margin: 0;
  padding: 1em;
  width: calc(80vw - 2em);
  background-color: pink;
  height: calc(100vh - 8em);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.box2{
	background-color: yellow;
}

.box3{
	background-color: green;
}

.pageButtons{
  position: relative;
  width: 100%;
  height: 2em;
  bottom: 0em;
  text-align: center;
  background: white;
  padding: 0.5em 0;

}

.pageButtons button{
    margin: 0em 2em;
    border: none;
    background: none;
}


@media only screen and (max-device-width: 480px) {
  .pageWrap{
    margin: 0em auto 0 auto;
    width: 100vw;
    /* height: calc(100vh - 2em); */
  }

  .pageButtons{
    height: 1em;
    display: none;
  }

  .box{
    padding-bottom: 4em;
    width: calc(100vw - 2em);
    height: calc(100vh - 5em);
  }

}
