body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10pt;
  line-height: 1.3;
  background-color: white;
  transition: background-color 1s ease;

 }

 h1 {
   text-align: center;
   font-size: 1.5em;
   margin-bottom:-2em;
   font-weight: bold;
   font-style: italic;
 }

 .bookTitle{
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   font-style: italic;
   margin-bottom: 2em;
   width: 80vw;
 }

 a, a:visited{
   text-decoration: none;
   color: black;
 }

 #greeting{
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .bookTitle a{
   color: blue;
 }

 .bookTitle a:hover{
   text-decoration: underline;
 }


 .readBtn{
   border: none;
   padding: 1em 2em;
   background-color: white;
   font-size: 1em;
   font-weight: bold;
   -moz-box-shadow:      2px 5px 5px -5px rgba(17,17,17,0.75);
    -webkit-box-shadow:  2px 5px 5px -5px rgba(17,17,17,0.75);
    box-shadow:          2px 5px 5px -5px rgba(17,17,17,0.75);
 }

 .activeBtn{
   background-color: gold;
 }

.bookButtons a{
   text-decoration: none;
   color: black;
 }

 .bookButtons a:hover{
    text-decoration: none;
    color: black;
  }

#title{
  background-color: inherit;
  /* transition: background-color 0.5s ease; */
  z-index: 999999;
  position: fixed;
  width: 100vw;
  height: 2em;
  padding: 1.5em 0.5em;
  top: 0;
}

#title h1{
  margin: 0;
  padding: 0;
}

.pageWrap{
  margin: 3em auto 3em auto;
  width: 80vw;
	white-space: nowrap;
	overflow-x: hidden;
}

.innerLiner{
  margin: 0;
  padding: 0;
}

.box{
  display: inline-block;
  white-space: normal;
  margin: 0;
  padding: 0 5em 2em 5em;
  width: calc(80vw - 10em);
  text-align:justify;
  height: calc(100vh - 14em);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}



.box h3 {
  font-weight: bold;
  padding: 0 0 1em 2em;
  word-break: break-all;
}

.pageButtons{
  position: relative;
  width: 100%;
  height: 2em;
  bottom: 0em;
  text-align: center;
  padding: 1.5em 0;

}

.pageButtons button{
    margin: 0em 2em;
    border: none;
    background: none;
}


@media only screen and (max-device-width: 480px) {
  .pageWrap{
    margin: 0em auto 0 auto;
    width: calc(100vw - 0em);
    /* height: calc(100vh - 2em); */
  }

  .pageButtons{
    height: 1em;
    display: none;
  }

  .box{
    padding: 4em 1em 4em 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 8em);
  }

  .box h3{
    text-align: center;
    padding: 0 0 2em 0;
  }

  #title{
    width: calc(100vw - 1em);
    margin: 0;
    padding: 1em 0.5em 0.8em 0.5em;
  }

  /* .box p {
  padding: 0;
  } */

}
